.info {
  display: flex;
  margin-right: calc(23% + 19px);
  margin-left: calc(21% + 19px);
}

.right {
  margin-top: 25px;
  position: relative;
}

.left {
  padding-right: 6%;
}

#reservation {
  position: sticky;
  top: 30px;
}